doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // =============== FAVICON ===============
  link(rel='apple-touch-icon' sizes='180x180' href='assets/img/favicon_io/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='assets/img/favicon_io/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='assets/img/favicon_io/favicon-16x16.png')
  link(rel='manifest' href='assets/img/favicon_io/site.webmanifest')

  // =============== BOXICONS ===============
  link(href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet')
  // =============== SWIPER CSS ===============
  link(rel='stylesheet' href='assets/css/swiper-bundle.min.css')
  // =============== CSS ===============
  link(rel='stylesheet' href='assets/css/styles.css')
  script(src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")

  title  Iconic Ayansh | Portfolio
// =============== HEADER ===============
header#header.header.transHead
  nav.nav.container
    a.nav__logo(href='https://discord.com/users/1004291040150298715') Ayansh
    .nav__menu
      ul.nav__list
        li.nav__item
          a.nav__link.active-link(onclick="goTo('home'); return false;" href='#home')
            i.bx.bx-home-alt
        li.nav__item
          a.nav__link(onclick="goTo('about'); return false;" href='#about')
            i.bx.bx-user
        li.nav__item
          a.nav__link(onclick="goTo('skills'); return false;" href='#skills')
            i.bx.bx-trophy
        li.nav__item
          a.nav__link(onclick="goTo('work'); return false;" href='#work')
            i.bx.bx-briefcase-alt
        li.nav__item
          a.nav__link(onclick="goTo('contact'); return false;" href='#contact')
            i.bx.bx-message-square
    // Theme change button
    i#theme-button.bx.bx-moon.change-theme
i.bx.bx-moon.change-theme
a.nav__logo2(href='#') Ayansh
// =============== MAIN ===============
main.main
  // =============== HOME ===============
  section#home.home
    .home__container.container.grid
      .home__data
        span.home__greeting Hello, I&apos;m
        h1.home__name Iconic Ayansh
        h3.home__education Gamer / Developer
        .home__buttons
          a.button(onclick="goTo('about');") About me
      .home__handle
        lottie-player(src='https://assets4.lottiefiles.com/packages/lf20_0bptkpmg.json' background='transparent' speed='1' style='width: 300px; height: 300px;' loop='' autoplay='')
      .home__social
        a.home__social-link(href='https://youtube.com/@iconicayansh' target='_blank')
          i.bx.bxl-youtube
        a.home__social-link(href='https://www.instagram.com/iconic_ayansh' target='_blank')
          i.bx.bxl-instagram
        a.home__social-link(href='https://discord.com/users/1004291040150298715' target='_blank')
          i.bx.bxl-discord
      a.home__scroll(onclick="goTo('about');")
        i.bx.bx-mouse.home__scroll-icon
        span.home__scroll-name Scroll Down
  // =============== ABOUT ===============
  section#about.about.section
    h2.section__title About Me
    .about__container.container.grid
      img.about__img(src='assets/img/about.jpg' alt='')
      .about__data
        .about__info
          .about__box
            i.bx.bx-award.about__icon
            h3.about__title Experience
            span.about__subtitle 2+ Years
          .about__box
            i.bx.bx-briefcase-alt.about__icon
            h3.about__title Completed
            span.about__subtitle 5+ Projects
          .about__box
            i.bx.bx-briefcase.about__icon
            h3.about__title Satisfied
            span.about__subtitle 7+ Clients
        p.about__description
         | Haiya! I'm Ayansh, a young boy who likes to play games and coding stuff :D
        a.button(onclick="goTo('contact');") Contact Me
  // =============== SKILLS ===============
  section#skills.skills.section
    h2.section__title My Projects
    .skills__container.container.grid
      .skills__content
        h3.skills__title Working on
        .skills__box
          .skills__groups
            .skills__data
              i.bx.bxl-youtube
              div
                h3.skills__name Youtube Channel
                span.skills__level 750+ subscribers
            .skills__data
              i.bx.bxl-instagram
              div
                h3.skills__name Instagram Page
                span.skills__level 120+ followers
            .skills__data
              i.bx.bxl-discord
              div
                h3.skills__name Discord Server
                span.skills__level 4,100+ members
    // =============== WORK ===============
  section#work.work.section
    h2.section__title Recent Works
    .work__filters
    .work__container.container.grid
      .work__card.mix.web
        img.work__img(src='assets/img/youtubePreview.png' alt='')
        h3.work__title Youtube Channel
        p.work__subtitle [Discontinued] Iconic Ayansh
        .wbtn
          a.button(href='https://youtube.com/@iconicayansh') Check Out
      .work__card.mix.web
        img.work__img(src='assets/img/instaPreview.png' alt='')
        h3.work__title Instagram Page
        p.work__subtitle [Discontinued] Iconic Ayansh
        .wbtn
          a.button(href='https://instagram.com/iconic_ayansh/') Check Out
      .work__card.mix.web
        img.work__img(src='assets/img/discordPreview.png' alt='')
        h3.work__title Discord Server
        p.work__subtitle Guild Zone
        .wbtn
          a.button(href='https://discord.gg/EdDwqjfP57/') Check Out
  // =============== TESTIMONIALS ===============
  section#testimonial.testimonial.section
    span.section__subtitle My clients say
    h2.section__title Testimonial
    .testimonial__container.container.swiper
      .swiper-wrapper
        .testimonial__card.swiper-slide
          img.testimonial__img(src='assets/img/testimonials/raizol.png' alt='')
          h3.testimonial__name Raizol Sama
          p.testimonial__description
            | Loved dealing with this guy. fast, cheap and reliable
        .testimonial__card.swiper-slide
          img.testimonial__img(src='assets/img/testimonials/aditya.png' alt='')
          h3.testimonial__name Aditya
          p.testimonial__description
            | Very limited time was left for the deadline but Vaibhav finished it on time
        .testimonial__card.swiper-slide
          img.testimonial__img(src='assets/img/testimonials/sendev.png' alt='')
          h3.testimonial__name Sendev
          p.testimonial__description
            | Bete moj krdi. Waah bete waah Moj krdi
        .testimonial__card.swiper-slide
          img.testimonial__img(src='assets/img/testimonials/vilko.png' alt='')
          h3.testimonial__name Will
          p.testimonial__description
            | Expecting to work together again. It fun working with you, learned a lot of things
      .swiper-pagination
  // =============== CONTACT ===============
  section#contact.contact.section
    span.section__subtitle Get in touch
    h2.section__title Contact Me
    .contact__container.container.grid
      .contact__content
        h3.contact__title Talk to me
        .contact__info
          .contact__card
            i.bx.bx-mail-send.contact__card-icon
            h3.contact__card-title Email
            span.contact__card-data iconicayansh@gmail.com
            a.contact__button(href='mailto:iconicayansh@gmail.com' target='_blank')
              | write me 
              i.bx.bx-right-arrow-alt.contact__button-icon
          .contact__card
            i.bx.bxl-discord.contact__card-icon
            h3.contact__card-title Discord
            span.contact__card-data iconic_ayansh_0
            a.contact__button(href='https://discord.com/users/1004291040150298715/' target='_blank')
              | write me 
              i.bx.bx-right-arrow-alt.contact__button-icon
      .contact__content
        h3.contact__title Write me your thoughts
        form.contact__form(action='')
          .contact__form-div
            label.contact__form-tag(for='') Name
            input.contact__form-input(type='text' placeholder='Your name or discord username')
          .contact__form-div
            label.contact__form-tag(for='') Mail
            input.contact__form-input(type='email' placeholder='Your email')
          .contact__form-div.contact__form-area
            label.contact__form-tag(for='') Message
            textarea.contact__form-input(name='' id='' cols='30' rows='10' placeholder='Your message')
          button.button Send Message
// =============== FOOTER =============== //
footer.footer
    //////////////////////////////////////////////
    //YOU ARE NOT ALLOWED TO REMOVE CREDIT LINKS//
    /////////////////////////////////////////////
    h2.footer__love
      | Made with 
      span(style='color: #e25555;') &hearts; 
      | by 
      a(href="https://instagram.com/that_back.bencher" target="_blank")
        | Iconic Ayansh
// =============== SCROLLREVEAL ===============
script(src='assets/js/scrollreveal.min.js')
// =============== SWIPER JS ===============
script(src='assets/js/swiper-bundle.min.js')
// =============== MIXITUP FILTER ===============
script(src='assets/js/mixitup.min.js')
// =============== MAIN JS ===============
script(src='assets/js/main.js')
